name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Giving Permission for Access
      run: chmod +x ./Project/gradlew 

    - name: Build with Gradle
      run: ./Project/gradlew build

    - name: Building CueLoc APK artifact
      run: ./Project/gradlew assembleDebug -b Project/app/build.gradle 
   
    - uses: actions/upload-artifact@v1
      with:
        name: CueLoc_APK
        path: ./Project/app/build/outputs/apk/debug/app-debug.apk

